<div class="container my-5">
    <div class="row">
        <div class="col-md"><app-city cityName="Vilnius" cityCode="Vilnius,LT"></app-city></div>
        <div class="col-md"><app-city cityName="Minsk" cityCode="Minsk,BY"></app-city></div>
        <div class="col-md"><app-city cityName="Reykjavik" cityCode="Reykjavik,IS"></app-city></div>
        <div class="col-md"><app-city cityName="Helsinki" cityCode="Helsinki,FI"></app-city></div>
        <div class="col-md"><app-city cityName="Stockholm" cityCode="Stockholm,SE"></app-city></div>
    </div>
    
    <div class="row my-5">
      <div class="col-md"></div>
      <div class="col-md weatherData">Current</div>
      <div class="col-md weatherData">Forecast</div>
    </div>  

    <div class="row my-5">
        <div class="col-md">
          <img src="{{imgPath + 'temperature.png'}}" alt="" class="icon">
        </div>
        <div class="col-md text-align weatherData"><span class="text-color--alert">{{temperatureCurrent}}</span> &#8451;</div>
        <div class="col-md text-align weatherData"><span class="text-color--alert">{{temperatureForecast}}</span> &#8451;</div>
    </div>
    
    <div class="row my-5">
        <div class="col-md">
          <img src="{{imgPath + 'windspeed.svg'}}" alt="" class="icon">
        </div>
        <div class="col-md text-align weatherData"><span class="text-color--alert">{{windSpeedCurrent}}</span> km/h</div>
        <div class="col-md text-align weatherData"><span class="text-color--alert">{{windspeedForecast}}</span> km/h</div>
    </div>
</div>
    