.icon {
    width: 130px;
}

.weatherData {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
}

.text-color--alert {
    color: red;
}
